@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 36em;
  height: 50px;
}
.navbar .nav-items {
  display: flex;
  gap: 3em;
}
.navbar .nav-items a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}
.main {
  display: flex;
  margin: 0 auto;
  width: 85%;
  height: calc(100vh - 50px);
  margin-top: 5%;
}
.main .image-container{
  height: 337px;
}
.right-side,
.left-side {
  align-items: stretch;
}
.main .left-side {
  flex-grow: 3;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

 .left-img {
  max-height: 100%;
}
.main .latest {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.main .latest .right-side {
  background-color: black;
  padding: 1.7em 1.2em;
  color: white;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;

}
.main .right-side h1 {
  color: orange;
  font-size: 2.5em;
  font-weight: 900;
}
.right-side .group {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.main .right-side .paragraph{
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.paragraph h2 {
  font-size: 1.2em;
}
.paragraph p {
  margin-bottom: 2em;
}
.content {
  display: flex;
  flex-direction: row;
}
.content h1{
  font-size: 70px;
  font-weight: 700;
 line-height: 1;
}
.content p{
  font-size: 20px;
}
.content button{
  background-color: red;
  border: 2px solid red;
  color: #ffffff;
  padding: 15px 30px;
  letter-spacing: 2px;
}

.content h1,
.content .additional {
  flex-grow: 1;
  flex-basis: 0;
}

.content .additional {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousal {
  display: flex;
  margin: 0 auto;
  width: 85%;
  margin-top: 95px;
  align-items: center;
}

.carousal .item {
  display: flex;
  height: 100px;
  gap: 1em;
}

.carousal .item img {
  max-height: 100%;
}

.carousal .item .right {
  display: flex;
  flex-direction: column;
}
/* 
.carousal {
  display: flex;
}
.carousal .left {
  flex-grow: 1;
  flex-basis: 50px;
}
.carousal .left img {
  max-height: 100%;
}

.carousal .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
} */
